
/* Welcome to this CSS-file*/

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255,192,203);
  }
  
  h1 {
    
    color: #DDA;
    text-decoration: overline;
  }

  h2 {

    color: hsl(255, 30, 60);
    text-align: center
  }


  h3 {

    color: navy;
    margin-left: 5px;
  }


  #img_resize {
    width: 1rem;
    height: 1rem;
  }

  img {
      width: 20vw;
      height: auto;
  }
  #test1_li {
    display:block;
  }
  #test2_li {
    display:inline;
  }

  #test_long_marg {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }

  /*Testing short margin and border*/
  #test_short_marg {

    margin: 100px 100px 150px 80px;
    background-color: lightblue;
    border-radius: 2px;
    border-width: 2px;
    border-color: aqua;
    border-style:dashed
  }


  #test_auto_marg {

    margin: auto;
    background-color: lightblue;
  }

  #test_auto_marge {

    margin: auto;
    background-color: lightblue;
  }

  #test_long_padding {

    padding-left:1px;
    padding-bottom:1px;
    padding-right:1px;
    padding-top:1px;
    background-color: yellow;
  }
  #test_short_padding {
      
      padding: 1px 1px 1px 1px;
      background-color: yellow;
  }
  div.min_width {
    min-width: 20cm;
    margin: auto;
    border: 3px solid #73AD21;
  }


  div.max_width {
    max-width: 20cm;
    margin: auto;
    border: 3px solid #73AD21;
  }

  #fixed {
    position: fixed;
    top: 0;
    right: 0;
  }
  #sosticky {
    position:sticky;
    top: 0;
    left: 0;
  }
  a:link {
    color: red;
  }

  div:hover {
    background-color: blue;
  }
  div:active {
    background-color: green;
  }

  .flex {
    display: flex;
    flex-direction: row-reverses;

    background-color:limegreen;
  }
  
  .flex > div {
    background-color:chocolate;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 20px 60px auto 30px;
    grid-gap: 10px;
    background-color:indigo;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color:beige;
    text-align: center;
    font-size: 10px;
  }

  p[class] {
    border-color:peru;
  }

  
